!!!
:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end

  class Service
    attr_accessor :title, :icon
    def initialize(title, icon)
      @title = title
      @icon = icon
    end
  end

  services = [
    {
      title: 'Multiples Usuarios',
      icon: 'assets/img/icons/user.svg'
    },
    {
      title: 'Galería de fotos',
      icon: 'assets/img/icons/image.svg'
    },
    {
      title: 'Blog',
      icon: 'assets/img/icons/file.svg'
    }
  ]

  @services = services.map do |service|
    Service.new(service[:title], service[:icon])
  end
%html{ lang: 'en' }
  %head
    = render('app/partials/_head.haml')
  %body
    %nav.navbar.navbar-expand-lg.sticky-custom
      %a.navbar-brand.d-md-none{ href: '#' }
        %img{ src: 'assets/img/keppler_logo.png', alt: 'Keppler' }
      .dropdown.dropdown-navbar.d-md-none
        %a#menu.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown"}
          .icon.toggle_menu
            .hamburger
        .dropdown-menu{"aria-labelledby" => "menu"}
          %ul.navbar-nav.mx-auto
            %li
              %a.nav-item.nav-link{ href: '/' } Inicio
            %li
              %a.nav-item.nav-link{ href: '#services' } Servicios
            %li
              %a.nav-item.nav-link{ href: '#products' } Productos
            %li
              %a.nav-item.nav-link{ href: '#gallery' } Galería
            %li
              %a.nav-item.nav-link{ href: '#blog' } Blog
      .collapse.navbar-collapse{ id: 'sandbox-nav' }
        %ul.navbar-nav.mr-auto.d-none.d-md-block
          %a.navbar-brand{ href: '/' }
            %img{ src: 'assets/img/keppler_logo.png', alt: 'Keppler' }
        %ul.navbar-nav.mx-auto
          %li
            %a.nav-item.nav-link{ href: '/' } Inicio
          %li
            %a.nav-item.nav-link{ href: '#services' } Servicios
          %li
            %a.nav-item.nav-link{ href: '#products' } Productos
          %li
            %a.nav-item.nav-link{ href: '#gallery' } Galería
          %li
            %a.nav-item.nav-link{ href: '#blog' } Blog
        %ul.navbar-nav.ml-auto
          %li
            %a.nav-item.nav-link{ href: '#' }
              %i.fab.fa-facebook-f
          %li
            %a.nav-item.nav-link{ href: '#' }
              %i.fab.fa-twitter
          %li
            %a.nav-item.nav-link{ href: '#' }
              %i.fab.fa-instagram
    %section{ id: 'home' }
      .home-bg
        .home-bg-mask
          %h1
            Crea tu
            %span.element
            %br
            con Keppler
          %button.btn.main-btn.btn-orange Probar ahora
    %section.services{ id: 'services' }
      .container
        %h1.section-title Servicios
        .section-title-separator
          %span.large
          %span.medium
          %span.small
        .row
          - @services.map do |service|
            .col-lg-4
              .service-card
                .service-icon
                  %img{ src: "#{service.icon}" }
                %h2.service-title= service.title
                %p.service-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %section.products{ id: 'products' }
      %h1.section-title Productos
      .section-title-separator
        %span.large
        %span.medium
        %span.small
      .container
        .row
          .col-md-8
            %ul.nav.page-tabs-nav.products-slick{id: 'myTab', role: "tablist"}
              - 5.times do |x|
                %li
                  %a.products-card{ 'data-id': "#{x}", class: "#{x==0 ? 'active' : ''}", id: "product#{x}-tab", 'aria-controls' => "product-#{x}", 'aria-selected' => "#{x==0 ? 'true' : 'false'}", 'data-slick-current' => "#{x}", 'data-toggle' => 'tab', href: "#product-#{x}", role: 'tab', style: 'background-image: url("https://images.unsplash.com/photo-1530114722439-f5cbd4dad762?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4f4a6fee4adc30b60515fb522061cd8&auto=format&fit=crop&w=400&q=60");' }
                    %span.small-title Producto numero #{x}
          .col-md-4
            #myTabContent.tab-content
              - 5.times do |x|
                .tab-pane.fade{id: "product-#{x}", class: "#{x==0 ? 'active show' : ''}", "aria-labelledby" => "product#{x}-tab", role: "tabpanel"}
                  %h1 Producto numero #{x}
                  %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, illum quod tempore quam facilis pariatur sapiente adipisci odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, illum quod tempore quam facilis pariatur sapiente adipisci odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, illum quod tempore quam facilis pariatur sapiente adipisci odit.
                  .btn-products
                    %a.btn-flat{ href: 'product.html' } Ver más
                    %button.btn.main-btn.btn-orange Probar ahora

    %section.gallery{ id: 'gallery' }
      %h1.section-title Galería
      .section-title-separator
        %span.large
        %span.medium
        %span.small
      .container
        .masonry
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=334&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1487376318617-f43c7b41e2e2?auto=format&fit=crop&w=750&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1500816558239-6b91f4256ead?auto=format&fit=crop&w=331&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1497888329096-51c27beff665?auto=format&fit=crop&w=751&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1505253468034-514d2507d914?auto=format&fit=crop&w=334&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1455853659719-4b521eebc76d?auto=format&fit=crop&w=750&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1497888329096-51c27beff665?auto=format&fit=crop&w=751&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1502550900787-e956c314a221?auto=format&fit=crop&w=334&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=334&q=80' }
        .two-btn-cta
          %a.btn-flat{ href: '#' } Ver más
          %button.btn.main-btn.btn-orange Probar galería
    %section.banner{ id: 'banner' }
      .banner-content
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        %button.btn.main-btn.btn-orange Probar ahora
    %section.blog{ id: 'blog' }
      .container
        %h1.section-title Blog
        .section-title-separator
          %span.large
          %span.medium
          %span.small
        .row.multiple-items
          - 6.times do
            .col-lg-4.col-xs-12
              %a{ href: 'single-post.html' }
                .post-wrapper
                  .post-content
                    .post-img
                      %img{ src: 'https://images.unsplash.com/photo-1528279027-68f0d7fce9f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3b968702b74dc339188bfbf29ae6c634&auto=format&fit=crop&w=1050&q=80', alt: '' }
                    .post-text
                      %h4.post-title The best subways in the entire world
                      %p It does get a bit more tricky though. Both EMs and pixels have their downfalls with media queries.
                  .post-date
                    %span.day 25
                    %span.month Septiembre
        .two-btn-cta
          %a.btn-flat{ href: '#' } Ver más
          %button.btn.main-btn.btn-orange Probar blog
    %section.contact{ id: 'contact' }
      .container
        %h1.section-title Contacto
        .section-title-separator
          %span.large
          %span.medium
          %span.small
        .row
          .contact-box
            .row
              .col-lg-6.map-inner-box
                %iframe{allowfullscreen: "", frameborder: "0", src: "https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d488.3455003190671!2d-70.19853299928293!3d11.711120408542463!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sve!4v1539048048564", style: "border:0"}
              .col-lg-6.contact-inner-box
                %form
                  .row
                    .col-lg-6
                      .form-group
                        %label Nombres
                        %input.form-control{ type: "email" }
                    .col-lg-6
                      .form-group
                        %label Correo Electrónico
                        %input.form-control{ type: "email" }
                    .col-lg-12
                      .form-group
                        %label Asunto
                        %input.form-control{ type: "email" }
                    .col-lg-12
                      .form-group
                        %label Mensaje
                        %textarea.form-control{ type: "email" }
                  %button.btn.main-btn.btn-orange.float-right Enviar
    = render('app/partials/_footer.haml')
    / Modal
    .modal.fade{ id: 'modalGallery', 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1' }
      .modal-dialog{ role: 'document' }
        .modal-content
          .modal-header
            %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
              %span{ 'aria-hidden' => 'true' } ×
            %h5.modal-title Nombre del album
            %p Descripcion del album. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nisi.
          .modal-body
            .single-item
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=334&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1487376318617-f43c7b41e2e2?auto=format&fit=crop&w=750&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1502550900787-e956c314a221?auto=format&fit=crop&w=334&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1500816558239-6b91f4256ead?auto=format&fit=crop&w=331&q=80")' }
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' }
    %script{ src: 'https://cdn.jsdelivr.net/npm/typed.js@2.0.9' }
    %script{ src: 'https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' }
    %script{ src: 'assets/js/main.js' }
