!!!
:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end

  class Service
    attr_accessor :title, :icon
    def initialize(title, icon)
      @title = title
      @icon = icon
    end
  end

  services = [
    {
      title: 'Multiples Usuarios',
      icon: 'assets/img/icons/user.svg'
    },
    {
      title: 'Galería de fotos',
      icon: 'assets/img/icons/image.svg'
    },
    {
      title: 'Blog',
      icon: 'assets/img/icons/file.svg'
    }
  ]

  @services = services.map do |service|
    Service.new(service[:title], service[:icon])
  end
%html{ lang: 'en' }
  %head
    = render('app/partials/_head.haml')
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.sticky-custom
      %a.navbar-brand.d-md-none{ href: '#' }
        %img{ src: 'assets/img/keppler_logo.png', alt: 'Keppler' }
      %button.navbar-toggler{ 'aria-controls' => 'sandbox-nav', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#sandbox-nav', 'data-toggle' => 'collapse', type: 'button' }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse{ id: 'sandbox-nav' }
        %ul.navbar-nav.mr-auto
          %a.navbar-brand{ href: '#' }
            %img{ src: 'assets/img/keppler_logo.png', alt: 'Keppler' }
        %ul.navbar-nav.mx-auto
          %li
            %a.nav-item.nav-link{ href: '#home' } Inicio
          %li
            %a.nav-item.nav-link{ href: '#services' } Servicios
          %li
            %a.nav-item.nav-link{ href: '#products' } Productos
          %li
            %a.nav-item.nav-link{ href: '#gallery' } Galería
          %li
            %a.nav-item.nav-link{ href: '#blog' } Blog
        %ul.navbar-nav.ml-auto
          %li
            %a.nav-item.nav-link{ href: '#' }
              %i.fab.fa-facebook-f
          %li
            %a.nav-item.nav-link{ href: '#' }
              %i.fab.fa-twitter
          %li
            %a.nav-item.nav-link{ href: '#' }
              %i.fab.fa-instagram
    %section{ id: 'home' }
      .home-bg
        .home-bg-mask
          %h1
            Crea tu
            %span.element
            %br
            con Keppler
          %button.btn.main-btn Probar ahora
    %section.services{ id: 'services' }
      .container
        %h1.section-title Servicios
        .row
          - @services.map do |service|
            .col-lg-4
              .service-card
                .service-icon
                  %img{ src: "#{service.icon}" }
                %h2.service-title= service.title
                %p.service-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %section.products{ id: 'products' }
      %h1.section-title Catálogo de Productos
      // DEMO 01
      -# .container
        .row
          .col-md-4
            .products-wrapper.left-side
              %div{ style: 'column-count:1;' }
                .product-image{ style: 'background-image:url("https://images.unsplash.com/photo-1538842101555-57791b14c1b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b501b09e90d80c094fde815e1470b5e0&auto=format&fit=crop&w=400&q=60")' }
                .product-image{ style: 'background-image:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67fb2e7b1fbe39b18b51146234ef38aa&auto=format&fit=crop&w=400&q=60")' }
          .col-md-4
            .products-wrapper.middle-side
              %div{ style: 'column-count:1;' }
                .product-image{ style: 'background-image:url("https://images.unsplash.com/photo-1524386189627-88c26ac1cc69?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0483f41b27d4e19df782f8908576402e&auto=format&fit=crop&w=333&q=80")' }
          .col-md-4
            .products-wrapper.right-side
              %div{ style: 'column-count:1;' }
                .product-image{ style: 'background-image:url("https://images.unsplash.com/photo-1530114722439-f5cbd4dad762?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4f4a6fee4adc30b60515fb522061cd8&auto=format&fit=crop&w=400&q=60")' }
                .product-image{ style: 'background-image:url("https://images.unsplash.com/photo-1527664557558-a2b352fcf203?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4341976025ae49162643ccdb47a72a4d&auto=format&fit=crop&w=400&q=60")' }
      // DEMO 02
      -# - 2.times do |x|
        .product-section{ class: "#{x.even? ? 'justify-content-end' : 'justify-content-start'}" }
          .product-big-image{ class: "#{x.even? ? 'product-image-right' : 'product-image-left'}" }
            .product-text{ class: "#{x.even? ? 'product-text-left' : 'product-text-right'}" }
              %h2 Nombre del Producto
              %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae porro quo officiis repudiandae nisi aliquam suscipit, praesentium hic quia molestiae numquam soluta. Ipsa velit minus iste blanditiis veritatis consectetur enim?
              %button.btn.main-btn Probar ahora
      // DEMO 03
      .container
        .row
          .col-md-8
            %ul.nav.page-tabs-nav.products-slick{id: 'myTab', role: "tablist"}
              - 5.times do |x|
                %li
                  %a.products-card{ class: "#{x==0 ? 'active' : ''}", id: "product#{x}-tab", 'aria-controls' => "product-#{x}", 'aria-selected' => "#{x==0 ? 'true' : 'false'}", 'data-slick-current' => "#{x}", 'data-toggle' => 'tab', href: "#product-#{x}", role: 'tab', style: 'background-image: url("https://images.unsplash.com/photo-1530114722439-f5cbd4dad762?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4f4a6fee4adc30b60515fb522061cd8&auto=format&fit=crop&w=400&q=60");' }
                    %span.small-title Producto numero #{x}
          .col-md-4
            #myTabContent.tab-content
              - 5.times do |x|
                .tab-pane.fade{id: "product-#{x}", class: "#{x==0 ? 'active show' : ''}", "aria-labelledby" => "product#{x}-tab", role: "tabpanel"}
                  %h1 Producto numero #{x}
                  %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, illum quod tempore quam facilis pariatur sapiente adipisci odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, illum quod tempore quam facilis pariatur sapiente adipisci odit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, illum quod tempore quam facilis pariatur sapiente adipisci odit.
                  %button.btn.main-btn Ver más
                  %button.btn.main-btn Probar ahora

    %section.gallery{ id: 'gallery' }
      %h1.section-title Galería
      .container
        .masonry
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=334&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1487376318617-f43c7b41e2e2?auto=format&fit=crop&w=750&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1500816558239-6b91f4256ead?auto=format&fit=crop&w=331&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1497888329096-51c27beff665?auto=format&fit=crop&w=751&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1505253468034-514d2507d914?auto=format&fit=crop&w=334&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1502550900787-e956c314a221?auto=format&fit=crop&w=334&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1455853659719-4b521eebc76d?auto=format&fit=crop&w=750&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1497888329096-51c27beff665?auto=format&fit=crop&w=751&q=80' }
          %a{ href: '', 'data-toggle' => 'modal', 'data-target' => '#modalGallery' }
            %img.img-fluid{ src: 'https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=334&q=80' }
        .two-btn-cta
          %button.btn.main-btn Ver más
          %button.btn.main-btn Probar ahora
    %section.banner{ id: 'banner' }
      .banner-content
        %p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        %button.btn.main-btn Probar ahora
    %section.blog{ id: 'blog' }
      .container
        .section-header
          %h1.section-title Blog
        .row.multiple-items
          - 6.times do
            .col-lg-4.col-xs-12
              .post-wrapper
                .post-content
                  .post-img
                    %img{ src: 'assets/img/img_3.jpg', alt: '' }
                  .post-text
                    %h4.post-title Titulo del Blog
                    %p It does get a bit more tricky though. Both EMs and pixels have their downfalls with media queries.
                .post-date
                  %span.day 25
                  %span.month Septiembre
        .two-btn-cta
          %button.btn.main-btn Ver más
          %button.btn.main-btn Probar ahora
    %footer
      .container
        .row
          .col-lg-4
            .footer-logo
              %img{ src: 'assets/img/keppler_logo.png' }
          .col-lg-4
            %ul.footer-contact
              %li Contacto
              %li Correos
              %li Telefonos
              %li Direccion
          .col-lg-4
            %ul.footer-sitemap
              %li Sitemap
              %li
                %a{ href: '' } Nosotros
              %li
                %a{ href: '' } Servicios
              %li
                %a{ href: '' } Productos
              %li
                %a{ href: '' } Galería
              %li
                %a{ href: '' } Blog
    / Modal
    .modal.fade{ id: 'modalGallery', 'aria-hidden' => 'true', role: 'dialog', tabindex: '-1' }
      .modal-dialog{ role: 'document' }
        .modal-content
          .modal-header
            %button.close{ 'aria-label' => 'Close', 'data-dismiss' => 'modal', type: 'button' }
              %span{ 'aria-hidden' => 'true' } ×
            %h5.modal-title Nombre del album
            %p Descripcion del album. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nisi.
          .modal-body
            .single-item
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1485963631004-f2f00b1d6606?auto=format&fit=crop&w=668&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1502865787650-3f8318917153?auto=format&fit=crop&w=334&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1487376318617-f43c7b41e2e2?auto=format&fit=crop&w=750&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1502550900787-e956c314a221?auto=format&fit=crop&w=334&q=80")' }
              .gallery-item{ style: 'background-image: url("https://images.unsplash.com/photo-1500816558239-6b91f4256ead?auto=format&fit=crop&w=331&q=80")' }
    %script{ src: 'https://code.jquery.com/jquery-3.3.1.min.js' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' }
    %script{ src: 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' }
    %script{ src: 'https://cdn.jsdelivr.net/npm/typed.js@2.0.9' }
    %script{ src: 'http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js' }
    %script{ src: 'assets/js/main.js' }
